<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="top-header">
    <div class="col-sm-3 col-xs-3 col-md-3">
      <h4>          
        <%= link_to user_profile_data_profile_path(@associate_user) do %>
          <i class="fa fa-chevron-left cse-shw-dte shw-page-updte">&nbsp;My Profile Data</i>
        <%end%>
      </h4>
    </div>
    <div class="col-sm-6 col-xs-6 col-md-6">
      <h4 class="text-center">My Specialization</h4>
    </div>
    <div class="col-sm-3 col-xs-3 col-md-3">
      <h4></h4>
    </div>
  </div>
</div>
</div><br>
<div class="prfle-adres-pading"></div>
<div class="clearfix"></div>
  <div class="form-horizontal">
    <div class="col-md-12">
      <%= nested_form_for @profile_setting ,url: update_specialist_profile_path(@associate_user), method: "post" do |f| %>
          <div class="form-group">
            <%= f.label :specialist_name,"SPECIALITY",class: "control-label col-sm-2 col-xs-4 col-md-3" %>
            <div class="col-sm-10 col-xs-8  col-md-9  clear-box">
              <%= f.text_field :specialist_name,class: "form-control",id: "specialist_name_search",placeholder: "your speciality" %>
            </div>
          </div>
        <%= f.fields_for :sub_speciality_names do |training| %>
          <div class="form-group">
            <%= training.label :text,"SUB-SPECIALITY",class: "control-label col-sm-2 col-xs-4 col-md-3" %>
            <div class="col-sm-10 col-xs-6  col-md-6  clear-box">
            <%= training.text_field :text,class: "form-control" %>
            </div>
            <div class="col-md-2 col-xs-2">
              <%= training.link_to_remove "-" , class: "remove-option" %>
            </div>
          </div>
        <% end %>
        <%= f.link_to_add "+",:sub_speciality_names, class: "add more add-option",id: "target" %>
        <center><%= f.submit "Update",class: "btn-success btn"%></center>
      <% end %>
    </div>
  </div>

<style type="text/css">
   .fields{
    overflow-y: initial !important;
  }
  .edit_profile_setting .add-option {
    margin-right: 61px !important;
  }
</style>