<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="top-header">
      <div class="col-sm-3 col-xs-3 col-md-3">
      </div>
      <div class="col-sm-6 col-xs-6 col-md-6">
        <h4 class="text-center"><%= params[:action] == "edit" ? 'Edit Diagnose' : 'Diagnosis'%></h4>
      </div>
      <div class="col-sm-3 col-xs-3 col-md-3">
      </div>
    </div>
  </div>
</div>
<%= form_for(@diagnosis) do |f| %>
  <% if @diagnosis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diagnosis.errors.count, "error") %> prohibited this speciality from being saved:</h2>

      <ul>
      <% @diagnosis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
     <% if params[:action] == "edit" %>
      <%= f.label :name,"Update Diagnosis",class: "control-label col-sm-2 col-xs-4 col-md-3 lbel-colr" %>
    <%else%>
      <%= f.label :name,"Enter a new Diagnosis",class: "control-label col-sm-2 col-xs-4 col-md-3 lbel-colr" %>
    <%end%>
      <div class="col-sm-10 col-xs-8  col-md-7  clear-box">
       <%= f.text_field :name, :class => 'form-control' %>
      </div>
  </div>
  <div class="actions">
    <% if params[:action] == "edit" %>
      <%= f.submit "Update",class: "btn btn_spec_save" %>
    <%else%>
      <%= f.submit "Save",class: "btn btn_spec_save"%> 
    <%end%>
  </div>
<% end %>
