<div class="manage-master-nav-tabs">
    <ul>
      <li>
        <%= link_to "Speciality",specialities_path,class: "manage-master-nav-tabs-active" %>
      </li>
        <li><%= link_to "Surgery",surgeries_path%></li>
        <li><%= link_to "Diagnosis",diagnoses_path%></li>
    </ul>
</div>
  <%= render 'form'%><br>
  <%= text_field_tag :speciality_search,nil,id: "speciality_user_search",placeholder: "Type speciality name to instant search",class: "add-schdle-txt form-control"%>
<div id="speciality_search_partial">
  <div class="mange-master">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Created</th>
          <th>Modified</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @specialities.each do |speciality| %>
          <tr>  
            <td><%= speciality.name %></td>
            <td><%= spec_date_format(speciality.created_at)%></td>
            <td><%= spec_date_format(speciality.updated_at)%></td>
            <td><%= link_to 'Modify', edit_speciality_path(speciality) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
   </div>
  <div style="text-align: center;"><%= will_paginate @specialities %></div>
</div>
